<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://zameenblog.s3.amazonaws.com/blog/wp-content/uploads/2019/08/Cover-1440x625-1.jpg);">
  <div class="container">
    <h1>Save any kind of <strong>movies</strong></h1>
    <p>Classic</p>
  </div>
</div>

<div class="container">
  <div class="d-flex justify-content-between my-4">
    <h2>My List</h1>
    <%= link_to("Create a movie list", new_list_path, class: "btn btn-success") %>
  </div>


  <div class="cards">
    <% @lists.each do |list| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://zameenblog.s3.amazonaws.com/blog/wp-content/uploads/2019/08/Cover-1440x625-1.jpg);">
        <%= link_to(list.name, list_path(list)) %>
        <%= link_to("X", destroy_list_path(list), data: { turbo_method: :delete }, class: "remove-btn") %>
      </div>
    <% end %>
  </div>
</div>
