.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.card-category {
  display: flex;
  background-size: cover;
  background-position: center;
  height: 120px;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  position: relative;

  a {
    text-decoration: none;
    color: white;
  }
}

.remove-btn{
  position: absolute;
  right: 4%;
  top: 3%;
}
